.assets{
    background-image:url('/assets/backgrounds/h_img.jpg');
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
    height:80vh;
    color: white;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: size 40px;;


}
.mouse{
    align-items: baseline;
    justify-content: baseline;
    
}